﻿@import "../_base.scss";

footer {
    position: relative;
    clear: both;
}

.footer-container {
    background: $footer-bgcolor;

    .footer-information {
        padding: 60px 15px 60px 15px;
        font-size: $base-font-size - 2;
        color: $footer-fgtext-color;

        .nav-home {
            display: none;
        }

        a {
            color: $footer-fgtext-color;
            text-decoration: none;
            line-height: 26px;
            overflow-wrap: anywhere;

            &:hover {
                color: $base-color-white;
            }

            &:focus, &:active {
                background-color: transparent;
                color: $base-color-white;
            }
        }

        li i {
            display: none;
        }
    }

    .header-footer {
        margin-bottom: 10px;

        h3 {
            margin: 10px 0;
            text-transform: uppercase;
            color: $base-color-white;
            font-family: $base-font-family-bold;
            font-size: $base-font-size;
            background: none;
        }
    }

    .news-letter-container, .follow-us {
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-shop {
        padding-left: 5px;
        padding-right: 5px;

        ul li {
            width: 100%;
            display: inline-block;
            list-style: none;
            background-color: transparent;
            padding: 0;
            vertical-align: top;

            a {
                padding: 0;
                float: left;
                text-transform: capitalize;
                font-size: $base-font-size - 2;

                &:hover {
                    background-color: transparent;
                }
            }

            .sub-menu {
                display: none;
            }

            i {
                float: left;
            }

            .dropdown-menu {
                display: none;
            }
        }

        .navbar-nav {
            height: auto !important;
            margin: 0;
        }
    }

    .footer-copyright {
        background-color: $footer-copyright-bgcolor;
        padding: 15px 15px;

        .footer-logo {
            width: 210px;
            max-height: 65px;
            font-size: $base-font-size +5;
            color: #626262;
            font-size: 22px;
            padding: 5px 0;
        }

        p {
            color: $footer-fgtext-color;
            display: inline-block;
            vertical-align: middle;
            line-height: 28px;
            font-size: $base-font-size-small;
        }

        ul {
            text-align: center;
            padding-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                display: inline-block;
                vertical-align: middle;
                padding: 0 4px;

                i {
                    font-size: 26px;
                    color: #828282;

                    &:hover {
                        color: $base-color-white;
                    }
                }
            }
        }

        .footer-copyright-text {
            display: inline-block;
            vertical-align: middle;
            color:$base-color-white;
        }

        .footer-copyright-links {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .news-letter {
        background-color: $news-letter-bgcolor;
        padding: 20px 0;
    }

    .footer-information {
        .panel-group .panel + .panel {
            margin-top: 0px;
        }

        .panel {
            background-color: transparent;
        }

        .panel-title > a {
            pointer-events: none;
            display: inline-block;
        }

        .collapse {
            display: block;
        }
    }
}

.belleni-footer {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
// Media Query.
@include screensize(x-small) {
    .footer-information .container{width:100%;}
    .footer-container {
        .header-footer {
            h3 {
                font-size: $base-font-size;
            }
        }

        .footer-shop ul li a {
            font-size: $base-font-size-small;
        }

        .footer-copyright {
            p {
                text-align: center;
                display: block;
                margin-bottom: 10px;
            }

            img {
                margin: 0 auto;
            }

            ul {
                float: left;
                width: 100%;
                text-align: center;
            }
        }

        .newsletter-widget {
            padding: 10px 0px 10px 0px;
            float: left;
            width: 100%;

            .input-field {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .news-letter-container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .footer-information {
            padding: 20px 15px 20px 15px;

            .panel-title > a {
                display: block;
                position: relative;
                pointer-events: auto;
            }

            .panel-title > a:after {
                font-family: "znode-web-store";
                content: "\f105";
                position: absolute;
                right: 0;
                top: -5px;
            }

            .panel-title > a[aria-expanded="true"]:after {
                font-family: "znode-web-store";
                content: "\f107";
            }

            .collapse {
                display: none;
            }

            .collapse.in {
                display: block;
            }
        }
    }
}

@include screensize(small) {
    .footer-information .container {
        width: 100%;
    }

    .footer-container {
        .footer-copyright {
            p {
                text-align: left;
                display: inline-block;
                margin-bottom: 0;
            }

            img {
                margin: 0;
            }

            ul {
                float: right;
                width: auto;
            }
        }

        .newsletter-widget .input-field {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@include screensize(desktop) {
    .footer-information .container {
        width: 90%;
    }
}
