﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));

    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse success-msg" : "error-msg";
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool addToCartDisabled = isObsolete || Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
    string minQty = Model.Attributes?.Value(ZnodeConstant.MinimumQuantity);
    bool IsCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    var imagethumbnail = Model.AlternateImages.Select(x => x.ImageThumbNailPath).FirstOrDefault();
}


@if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}
@{
    <div class="col-xs-12 col-lg-12 nopadding ">
        <div class="col-lg-12 col-xs-12 col-sm-12 nopadding">
            <div class="form-group hidden">
                <label for="Quantity" data-test-selector="lblQuantity">@WebStore_Resources.ColumnTitleQuantity</label>
                <div class="product-details-qty" id="product-details-quantity">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" id="MinButton" data-field="Quantity" title="Less Qty">-</button>
                        </span>
                        <input data-test-selector="txtQuantity" type="text" name='Quantity' title="Quantity" value="@quantity" maxlength="3" data-sku="@sku" data-maxQuantity="@maxQty" data-minQuantity="@minQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity input-number" @(addToCartDisabled ? "disabled" : "") id="Quantity">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" id="AddButton" data-field="Quantity" title="Add Qty">+</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-addto-cart">
                @*@Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable)*@

                @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary btn-addtocart btncartdisabled", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "InStorePickUp.prototype.RedirectToCart()")

            </div>
        </div>

        <div class="col-xs-12 col-lg-12 col-md-12 nopadding product-details-qty">
            <div data-test-selector="lblQuantityErrMsg" id="quantity-error-msg" class="error-msg"></div>
        </div>
        <!-- Out of stock -->
        <div class="col-xs-12 col-lg-12 col-md-12 nopadding product-details-qty hidden">
            @if (!Equals(Model.ProductType, ZnodeConstant.GroupedProduct) && !isObsolete)
            {
                <div data-test-selector="lblInventoryMsg" id="dynamic-inventory" class="@inventoryMessageClass">
                    @Model.InventoryMessage
                    @if (IsCloudflareEnabled)
                    {
                        <span class="product-count padding-left-5 cloudflareInventorySpan" data-type="simpleproduct" data-sku="@productSku" data-id="@Model.PublishProductId">Loading..</span>
                    }
                    else if (Model.Quantity > 0)
                    {
                        <span class="product-count padding-left-5">(@Model.Quantity)</span>
                    }
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="stickyImage" value="@imagethumbnail" />
    @Html.Hidden("WebstoreURL", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
}
<script async>
    $(document).ready(function () {
        var IsCloudflareEnabled = '@IsCloudflareEnabled'
        if (IsCloudflareEnabled == 'True') {
            Product.prototype.GetInventory('');
        }
        ////nivicode//
       Product.prototype.NiviInventoryGrid();
        ////nivicode//

        //Quantity Customize +/- Code here
        $('#AddButton').click(function () {
                var qnt = $('#Quantity').val();
                var maxqnt = $('#Quantity').attr('data-maxquantity');
                if (qnt >= maxqnt) {
                    $('#quantity-error-msg').text("Quantity Should not exceed the inventory level.");
                    $('#AddButton').prop('disabled', true);
                }
                else {
                    qnt++;
                    $('#Quantity').val(qnt);
                    $('#MinButton').prop('disabled', false);
                }
            });

            $('#MinButton').click(function () {
                var qnt = $('#Quantity').val();
                var minqnt = $('#Quantity').attr('data-minquantity');
                if (qnt == minqnt) {
                    $('#MinButton').prop('disabled', true);
                }
                else {
                    qnt--;
                    $('#Quantity').val(qnt);
                    $('#AddButton').prop('disabled', false);
                    $('#quantity-error-msg').text("");
                }
            });
        })
        $(function () {
            $("#Quantity").change(function () {
                var max = parseInt($(this).attr('data-maxquantity'));
                var min = parseInt($(this).attr('data-minquantity'));
                if ($(this).val() > max) {
                    $('#quantity-error-msg').text("Quantity Should not exceed the inventory level.");
                    $(this).val(min);
                }
            });
        });

</script>
