﻿@import "../_base.scss";

// Select
select{color:#292a2a;font-size:$base-font-size-small;border-radius:0px;width:100%;height:34px;padding:2px 20px 2px 5px;border:1px solid $border-bgcolor-default;box-shadow:none;outline:medium none;-webkit-appearance:none;-moz-appearance: none;-ms-appearance: none;background: #fff url('../../Images/drop-arrow.png') no-repeat 95% center;text-indent: 0.01px; text-overflow: ""; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease;
   option:hover { border: 0; box-shadow: none; outline: medium none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
}
select::-ms-expand { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
.ie select { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
.dropdown-menu{font-size:$base-font-size;}

// Dropdown and Multi Select dropdown.
.btn-dropdown{
  display:inline-block;
  border-radius:2px;
  font:{ 
      family:$base-font-family;
      size:$base-font-size;
      weight:$base-font-normal;
   }
  padding:0 10px;height:24px;line-height:21px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;border:1px solid $border-bgcolor-default;text-align:left;
  &:hover,&:focus,&:active{color:$base-color-secondary;}
  .zf-down{font-size:10px;padding-left:2px;color:$base-color-primary}
}
.dropdown-list-ul{border-radius:2px;border:1px solid $border-bgcolor-default;margin:0;padding:0;box-shadow:2px 3px 2px $border-bgcolor-default;font-size:$base-font-size;list-style:none !important;min-width:100px;max-height:200px; overflow-y:auto !important;overflow-x:hidden;
    li{list-style:none !important;
         a{color:$text-fgcolor-default;text-transform:capitalize;padding:3px 10px;border-bottom:1px solid #929292;}
         label{font-weight:normal;width:100%;margin-bottom:0;padding:2px 20px 2px 5px;display:block;
             span{width:100%;}
         }
         &:hover{background-color:#3085db;color:$base-color-white;}
         &:nth-last-child(1) a{border-bottom:0 !important;}
      }
}
.dropdown-list-ul:after{content:'';display:block;position:absolute;top:-16px;left:8px;width:0;height:0;border-color: transparent transparent $base-color-white transparent;border-style: solid;border-width: 8px;}
.dropdown-list-multiselect li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;border-bottom:1px solid $border-bgcolor-default;line-height:26px!important;
        li:last-child{border-bottom:none;}        
}
.pull-right{
    .dropdown-list-container,.dropdown-menu-right{left:auto;right:0;}
    .dropdown-list-container:after,.dropdown-menu-right:after{left:auto;right:8px;}
}
.dropdown-list-container{left:0;right:auto;margin:0;padding:0;overflow:hidden !important;font-family:$base-font-family;min-width:200px;
     .dropdown-wrapper{position:static;}
     .dropdown-search{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;min-width:150px;}
     .dropdown-submit{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;text-align:right;float:left;width:100%;
        button.btn-text{color:$base-color-white;}
     }
     .dropdown-list-ul{box-shadow:none;border:0;position:relative;padding:0;}
     input[type="text"]{height:24px;}
}
.multiselect{color:$base-fgcolor-input;font-size:12px; height:24px;min-width:180px;width:100%;padding:2px 20px 2px 5px;text-align:left;border:1px solid $border-bgcolor-default;border-radius:3px; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: $base-color-white url('../Images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px;text-overflow: ""; border: 1px solid $border-bgcolor-default;
    &:hover,&:focus,&:active{background-color:transparent !important;}
    .caret{display:none;}
}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0;max-height:200px;overflow-y:auto;
    .input-group{margin:5px}
    li{padding:0;
       a{padding:0;
           &:hover{background-color:#3085db;color:$base-color-white;}
       }
       label.radio,label.checkbox{margin:0}
       label{margin:0;height:100%;cursor:pointer;font-weight:normal !important;color:$base-color-primary !important;padding:3px 20px 3px 25px;
             input[type=checkbox]{margin-bottom:5px}
             &:hover{color:$base-color-white !important;}
       }
       input[type="checkbox"]{opacity:1 !important;}
    }
    li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:normal}
    li.multiselect-group-clickable label{cursor:pointer}
    li.filter{
        .input-group-addon{padding:1px 6px;background-color:$base-color-white;
             i{color:$base-color-secondary;}
        }
        .input-group-btn{padding:0;background-color:$base-color-white;
             button{padding:1px 6px;}
             i{color:$base-color-secondary;}
        }
    }
    li.active a label{color:$base-color-white !important;}
}
.dropdown-tool{position:relative;}

