﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel
@{
    string categorycode = Model?.Custom1;
    string FacetName = "";
}

@if (Model?.Facets?.Count > 0)
{
    int count = 0;

    if (categorycode != "shoefinder")
    {
        foreach (var item in Model.Facets)
        {
            FacetName = Convert.ToString((item.AttributeValues)[0].AttributeCode);
            if (item.AttributeValues.Count == 1)
            {
                continue;
            }

            <div class="list-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title panel-title-edit accordion-toggle settoggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count" title="@item.AttributeName"><span data-test-selector="lblMoreCategoriesFacets">@item.AttributeName</span></h4>
                    </div>
                    <div id="collapseOne_@count" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="filter-list">
                                @foreach (var facetValue in item.AttributeValues)
                                {
                                    bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.AttributeValue));
                                    if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                    {
                                        string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                        <li class="styled-input">
                                            <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@facetValue.RefineByUrl',this)" class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                            <label for="@data" data-test-selector="lblFacetValue" title="@Html.RenderBlock(facetValue.Label)">@Html.RenderBlock(facetValue.Label)</label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            count++;
        }
    }
    else if (categorycode == "shoefinder")
    {
        /*Nivi:For shoefinder dropdown*/
        foreach (var item in Model.Facets)
        {
            FacetName = Convert.ToString((item.AttributeValues)[0].AttributeCode);
            if (item.AttributeName == "Foot Condition" || item.AttributeName == "Size" || FacetName == "drewwidth" || item.AttributeName == "Gender" || item.AttributeName == "Color")
            {
                /*Nivi:Foot Condition Multiselect New 1*/

                <div class="list-group foot-condition">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-edit accordion-toggle settoggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOneFootCondition_@count" title="@item.AttributeName"><span data-test-selector="lblMoreCategoriesFacets">@item.AttributeName</span></h4>
                        </div>
                        <div id="collapseOneFootCondition_@count" class="panel-collapse foot-condition-collapse collapse">
                            <div class="panel-body">
                                <ul class="filter-list  @FacetName">
                                    @foreach (var facetValue in item.AttributeValues)
                                    {
                                        bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.AttributeValue));
                                        if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                        {
                                            string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                            <li class="styled-input">
                                                <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@facetValue.RefineByUrl',this)" class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                                @*<input id="@data" type="checkbox"  class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />*@
                                                <label for="@data" data-test-selector="lblFacetValue" title="@Html.RenderBlock(facetValue.Label)">@Html.RenderBlock(facetValue.Label)</label>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                count++;

                
                   
                <script>
                    /** CLOSE FOOT CONDITION WHEN CLICKING OUTSIDE**/
                    $(document).on('click', function (e) {
                        /* bootstrap collapse js adds "in" class to your collapsible element*/
                        var menu_opened = $('#collapseOneFootCondition_@count').hasClass('in');

                        if (!$(e.target).closest('#collapseOneFootCondition_@count').length &&
                            !$(e.target).is('#collapseOneFootCondition_@count') &&
                            menu_opened === true) {
                            $('#collapseOneFootCondition_@count').collapse('toggle');
                        }
                    });

                    $(document).ready(function () {
                        //When your specific field changes (your textbox)
                        $(".FacetFilter").change(function () {
                            //Display your loading animation
                            $(".loaddiv").show();
                            $(".loading").show();
                        });

                    });
                </script>
            }
        }

    }
}
<!-- Initially hidden loading by nivi -->
<div class="loaddiv" style='display:none'>
    <img class="loading" style='display:none' src="~/Views/Themes/DrewShoe/Images/loading.svg" />
</div>



