﻿@model Znode.Engine.Admin.ViewModels.StoreListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="panel-container dirtyignore">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgStores">@Admin_Resources.TitleStoresList</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('divStoreListAsidePanel')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <section class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetPortalList", "GiftCard", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        GiftCard.prototype.GetPortalDetail();
    });
</script>



