﻿@import "_base.scss";

.dropdown-menu a:hover {
    color: $base-color-primary;
    text-decoration: underline !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu ul {
    padding: 0;
}


.dropdown-menu ul li {
    line-height: 40px;
    min-height: 24px;
}


.dropdown-submenu:hover > .dropdown-menu {
    visibility: visible;
}

.dropdown-submenu .dropdown-menu {
    visibility: hidden;
}

.dropdown-submenu:hover > a:before {
    border-left-color: $base-color-primary;
}

.dropdown-submenu, .navbar {
    position: relative;
}

.dropdown-submenu > a:before {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent $base-color-primary;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -12px;
}
// Product List Widgets.
.template-product-list{padding:10px;display:inline-block;
.item{float:left;min-width:25%;text-align:center;}
} 
.default-template .product-list-widget .owl-theme .owl-controls{position:static;margin-bottom:10px;}

// Swapnil Scss For DrewShoes.
.BackColor1{background:#FCF7FF}
.BackColor2{background:#DDF2FF}
.headcount{color:$base-color-primary;}
.promo-btn{border: 2px solid;
    border-radius: 5px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.9px;}
.hpviewmore {
    float: right;
    font-size: $base-font-size-x-small;
    color: $base-color-primary;
    text-transform: capitalize;
    font-family: $base-font-family-bold;
    line-height:85px;
}

#SwatchImageSection{  height: 25px;
    ul {padding: 0;list-style: none;display: flex;cursor: pointer;margin: 0;}
    li img{width: 25px;height: 25px;margin-right:5.5px;
           &:hover{border: 1px solid;border-radius: 50%;padding: 1px;}
    }
    li.active img{border: 1px solid;border-radius: 50%;padding: 1px;}
    .moreColorsIcon{ 
    margin:-26px -5px 0px 0;
    border: 1px solid #f7f7f7;
    width: 27px !important;
    height: 27px;
    float: right;
    position: relative;
    background: #dedede;
    text-align: center;
    border-radius:27px;
    line-height: 23px;
    }
}

.newsletter-widget{ p.container-checkbox {font-size:14px;letter-spacing: 0.35px;}}



 
/*DS Table PDP table-grid-PDP*/
.table-grid-PDP{
    .no_data{color:red;font-size:16px}
    .checkbox_data{color:green;font-size:16px}
    th.top_size_data{background: #ddd;border-right: 2px solid #fff;}
     tbody{border:none}
     th.top_size_data:last-child {border-right: 0px;}
     label{color:$base-color-primary;margin: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;}
}
#Product-avail{margin-top:-10px;}
// Wishlist Icon and Fall under category
#WishlistImg {
    a {
        padding: 10px
    }
}

.pdpfallundercatImg img{margin:35px 0}

/*DS Sidebar PLP*/

.videoImg {cursor:pointer;
           height: 30px;
            background: #fff;
            width: 30px;
            border-radius: 50%;
            position: absolute;
            margin: 18px 42px;
    i.zf-forward{color: $base-color-primary;position: fixed;margin: 5px 7px;font-size: 20px;font-weight: 700;}
    i.zf-forward:hover{color:$base-color-secondary}
}
.product-wishlist{border-top: 2px solid $base-color-border;padding: 15px 0;margin-top: 15px;
                  a{font-size:$base-font-size}
}
.PDP-setNamewithprice{display:-webkit-inline-box;margin-bottom:5px;
               h1.product-name{color:$base-color-secondary;font-size:$base-heading-font-primary - 4;font-family:$base-font-family-montserrat-700;}
}
span.text-black{font-size:$base-font-size;color:$base-color-secondary;}
p.PDPlable{font-family:$base-font-family-montserrat-700;font-size:$base-font-size;color:$base-color-secondary;margin-bottom:10px}

//Responsive Scss For DrewShoes.
@include screensize (large) {
    .videoImg {margin: 20px 59px;}
}
@include screensize(x-large) {
    #SwatchImageSection{    
        li img{width:30px;height:30px;margin-right: 18px;
               &:hover{border: 1px solid;border-radius: 50%;padding: 1px;}
        }
        li.active img{border: 1px solid;border-radius: 50%;padding: 1px;}
        .moreColorsIcon{ 
            margin:-31px 2px 0px 0;
            border: 1px solid #f7f7f7;
            width: 32px !important;
            height: 32px;
            float: right;
            position: relative;
            background: #dedede;
            text-align: center;
            border-radius:50%;
            line-height:30px;
            a{
                font-size:21px;
            }
        }
    }
}