﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string URL = Request.Path;

    if (Request.Path == "/cart/CalculateCart")
    {
        if (Model.ShippingCost != 0)
        {
            Model.Total = Model.Total - Model.ShippingCost;
        }
    }
}

<div class="form-group">
    <div class="col-xs-6 col-md-8 nopadding">
        <p data-test-selector="paraSubTotal">@WebStore_Resources.LabelSubTotal</p>
    </div>
    <div class="col-xs-6 col-md-4 nopadding align-right" data-test-selector="txtSubTotal">
        @Helper.FormatPriceWithCurrency(Model.SubTotal, CultureCode)
    </div>
</div>
@if (Model.Discount > 0)
{
    <div class="form-group">
        <div class="col-xs-6 col-md-8 nopadding">
            <p data-test-selector="paraDiscount">@WebStore_Resources.ColumnDiscounts</p>
        </div>
        <div class="col-xs-6 col-md-4 nopadding align-right" data-test-selector="txtShippingDiscount">
            <div id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - Model.Discount, CultureCode)</div>
        </div>
    </div>
}

@if (Model.TaxCost > 0)
{
    <div class="form-group">
        <div class="col-xs-6 col-md-8 nopadding">
            <p data-test-selector="paraTax">@WebStore_Resources.ColumnTax</p>
        </div>
        <div class="col-xs-6 col-md-4 nopadding align-right" data-test-selector="txtTaxCost">
            @Helper.FormatPriceWithCurrency(Model.TaxCost, CultureCode)
        </div>
    </div>
}
@if (Model.ShippingCost > 0)
{
    if (Request.Path != "/cart/CalculateCart")
    {
        <div>
            @{ string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})"; }
            <div class="col-xs-6 col-md-8 nopadding">
                <p data-test-selector="paraShippingNameLabel">@WebStore_Resources.LabelShippingCost @shipName</p>
            </div>
            <div class="col-xs-6 col-md-4 nopadding align-right" data-test-selector="ShippingCost">
                <div data-test-selector="divShippingCost" id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, CultureCode)</div>
            </div>
        </div>
    }
}

@if (Model.GiftCardApplied)
{
    <div class="form-group">
        <div class="col-sm-6 col-md-8 nopadding">
            <p data-test-selector="paraGiftCardAmt">@WebStore_Resources.ColumnGiftCardAmount</p>
        </div>
        <div class="col-xs-6 col-md-4 nopadding" data-test-selector="GiftCardApplied">
            <div id="dynamic-giftcard-amount" class="left-sm-shift align-right">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, CultureCode)</div>
        </div>
    </div>
}
<div class="form-group total">
    <div class="col-xs-6 col-md-8 nopadding">
        <label data-test-selector="hdgOrdertotal">@WebStore_Resources.ColumnOrderTotal</label>
    </div>
    <div class="col-xs-6 col-md-4 nopadding" data-test-selector="txtTotalAmt">
        <div id="dynamic-order-total" class="left-sm-shift align-right"><label data-test-selector="hdgOrderGrandTotal">@Helper.FormatPriceWithCurrency(Model.Total, CultureCode)</label></div>
        @Html.Hidden("hdnTotalOrderAmount", Model.Total)
    </div>
</div>
<input type="hidden" id="Total" value="@Model.Total" />

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)
<script>
    var coupon = @Html.Raw(Json.Encode(Model.Coupons));
    if (coupon.length > 0) { Cart.prototype.ShowCouponsMessages(coupon)};
</script>

