﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductListViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/product-list.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
<div class="product-list-widget">
    @if (!Equals(Model?.Products, null))
    {
        string _id = string.Empty;
        if (Model.Products.Count > 0 && Model.DisplayName == "NewArrival")
        {
            <h2 class="product-list-title" data-test-selector="lblNewArrivalHeading">
                @Html.RenderMessage(WebStoreConstants.NewArrival)
                <span>
                    <a href="#" id="womensurl" data-test-selector="linkViewMoreDetails" class="hidden-xs hpviewmore" title="@WebStore_Resources.LabelTextViewMore">@WebStore_Resources.LabelTextViewMore</a>
                </span>
            </h2>
            _id = $"Product_List_Widget{1}";
        }
        else if (Model.Products.Count > 0 && Model.DisplayName == "HomePageSpecial")
        {
            @*<h3 class="product-list-title" data-test-selector="lblBestSellerTitle">@Html.RenderMessage("test2")</h3>*@
            <h3 class="product-list-title" data-test-selector="lblBestSellerTitle">
                @Html.RenderMessage(WebStoreConstants.BestSellersTitle)
                <span>
                    <a href="#" id="mensurl" data-test-selector="linkViewMoreDetails" class="hidden-xs hpviewmore" title="@WebStore_Resources.LabelTextViewMore">@WebStore_Resources.LabelTextViewMore</a>
                </span>
            </h3>
            _id = $"Product_List_Widget{2}";
        }
        else if (Model.Products.Count > 0 && Model.DisplayName == "RecommendedProducts")
        {
            //To show title for product recommendation widget.
            <h3 class="product-list-title" data-test-selector="lblRecommendedProductsTitle">@Html.RenderMessage(WebStoreConstants.RecommendedProductsTitle)</h3>
            _id = $"Product_List_Widget{3}";
        }
        _id = string.IsNullOrEmpty(_id) ? "Product_List_Widget" : _id;
        bool navigationFlag = Model.Products.Count > 5 ? true : false;


        if (Model.DisplayName == "DealsProductList")
        {
            if (Model.Products.Count > 0)
            {
                foreach (var p in Model.Products)
                {
                    if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                    {
                        @Html.Partial("_ProductTitleHome", p)
                    }
                }
            }
        }
        else
        {
            <div class="owl-carousel Product_List_Widget" id="@_id">
                @{
                    if (Model.Products.Count > 0)
                    {
                        foreach (var p in Model.Products)
                        {
                            if (!string.IsNullOrEmpty(p.ProductViewModel?.Name))
                            {
                                @Html.Partial("_ProductTitleHome", p)
                            }
                        }
                    }
                }
            </div>
        }




        <script type="text/javascript">
           var enableNavigation = true;
            if ($(window).width() > 1300) {
                enableNavigation = @navigationFlag.ToString().ToLower();
            }
            console.log(enableNavigation);

                $("#@_id").owlCarousel({
                    autoPlay: false,
                    navigation: enableNavigation,
                    mouseDrag: false,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [480, 2],
                      [600, 2],
                      [768, 2],
                      [992, 3],
                      [1200, 5]
                    ],
                    navigationText: [
                      "<i class='zf-arrow-left-big'></i>",
                      "<i class='zf-arrow-right-big'></i>"
                    ]
                });
        </script>
    }

    <script type="text/javascript">
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var i = 1;
            if (i == 1) {
                var womensurl = $("ul.navbar-nav a:eq(0)").attr("href");
                var mensurl = $(".navbar-nav>li:nth-child(2) a:eq(0)").attr("href");
                $("#womensurl").attr("href", womensurl);
                $("#mensurl").attr("href", mensurl);
                i = 2;
            }
        })

        function clickme(obj, t, c) {
            var r = $("#" + c).attr("Swatch-img"); $("#" + t).attr("src", r)
            $(obj).parent().parent().find("li").removeClass('active');
            $(obj).parent().addClass('active');
        } function out(t, c) { $("#" + t).attr("src", c) }
    </script>
</div>