﻿@model Znode.Engine.WebStore.ViewModels.PortalViewModel


@{
    string tagManagerContainerId = Model.ContainerId;
    bool applyTagManager = Model.IsEnabledTagManager && !string.IsNullOrEmpty(tagManagerContainerId);

    string googleAnalyticsTrackingId = Model.AnalyticsUId;
    bool applyGoogleAnalytics = Model.AnalyticsIsActive && !string.IsNullOrEmpty(googleAnalyticsTrackingId);
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@if (applyTagManager)
{
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', '@tagManagerContainerId');
    </script>
    <!-- End Google Tag Manager -->
}

@if (applyGoogleAnalytics)
{
    if (!Equals(controllerName.ToLower(), "checkout") && !Equals(actionName.ToLower(), "ordercheckoutreceipt"))
    {
        <!-- Google Analytics -->
        <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
            ga('create', '@googleAnalyticsTrackingId', 'auto');
            ga('send', 'pageview');

        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->

    }
}