﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@using Znode.Engine.WebStore.Models
@model AccountQuoteListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-quotehistory" class="main-wrapper">
        <div class="container">
            <div class="row user-account">
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-sm-3 col-lg-2 nopadding">
                        <div class="panel">
                            <div role="tab" id="DashboardOne">
                                <div class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h1 class="section-header">
                                            <text class="visible-xs hidden-lg hidden-md">Hello, @User.Identity.GetUserName()</text>
                                            <text class="hidden-xs">@WebStore_Resources.TitleMyAccount</text>
                                        </h1>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <h3 class="section-header">@Admin_Resources.TitlePendingPaymentList</h3>
                                <div class="col-xs-12 filter-component">
                                    @using (Ajax.BeginForm("PaymentQuoteHistory", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                </div>
                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.UserId)
                                @Html.HiddenFor(m => m.OmsOrderStateId)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        User.prototype.SetManageQuoteUrl();
        User.prototype.SetQuoteIdLinkURL();
    });
</script>
