﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
        span{color:$base-color-primary;font-weight:bold;}
        i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.Promo-img img{width:100%;height:auto;}
.Promo-cms-sec{padding: 100px;padding-top: 170px;min-height: auto;
     b{font-size: $base-heading-font-secondary;font-weight: 600;color: $base-color-secondary;font-family:$base-font-family-montserrat-700;text-transform:uppercase}
     .text-promo{margin-top:15px;margin-bottom:25px;color:$base-color-secondary;font-size:$base-font-size;}
     h1{margin: 0px 0;font-size: 22px;line-height: 35px;}
     .promo-btn .btn-bg-promo{font-family:$base-font-family-bold; background-color:$base-color-white;color: $Promo-bg-color;width: 30%;text-transform:uppercase;font-size:$base-font-size + 2;font-weight:$base-font-bold;}    
}
.product-list-title{font-family:$base-font-family-montserrat-700; color:$base-color-primary; margin-bottom:20px;text-transform: uppercase;line-height: 60px;border-bottom: 3px solid $base-color-primary;font-size:$base-heading-font-primary;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}
.label-environment{color:$base-color-white;font-size:$base-font-size;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*Advertisement Banner*/
.AdvertisementBanner {
    .item img{padding: 10px;}
}

/*Image For Him-Her Banner*/
.img-gradient-banner{
   .home-item {position: relative;display: inline-block;width: 100%;
        &:after{content: '';position: absolute;top: 0;right: 0;bottom: 0px;left: 0;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.16850490196078427) 70%);}
   }
   figcaption{margin-top: -153px;position: relative;z-index: 2;padding-bottom:35px;text-align:center;
        h3{margin-top: 0px;margin-bottom: 10px;text-align: center;color:$base-color-white;font-size:$base-heading-font-primary;}
        h5{margin-top: 10px;margin-bottom: 20px;text-align: center;color:$base-color-white;font-size:$base-font-size + 2;}
        .btn-bg-border-white{border:1px solid $base-color-white;color:$base-color-white;text-transform:uppercase;width:20%;font-size:$base-font-size;font-weight:$base-font-bold;}
   }
}

// Media Query.
@include screensize(x-small) {
    .product-list-title{font-size:$base-heading-font-mobile;}
    .Promo-cms-sec {padding: 12px;padding-top: 25px;min-height: auto;text-align: center;
       h3{font-size:42px;}
       h1{font-size: 21px;}
       .text-promo{font-size:$base-font-size;}
       .promo-btn .btn-bg-promo{font-size:$base-font-size-small}
    }
    .img-gradient-banner{
       figcaption{margin-top: -147px;
            .btn-bg-border-white{width:30%;}
       }
    }
    .img-gradient-banner{
       figcaption{
            h3{font-size:$base-heading-font-mobile;}
            h5{font-size:$base-font-size;}
            .btn-bg-border-white{font-size:$base-font-size-small;}
       }
    }
}
@include screensize(xl-small) {
    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev,.product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next{top:125px;}
    .display-flex{display:block;}
}
@include screensize(small){
    .display-flex{display:block;}
    .Promo-cms-sec{padding: 60px;padding-top: 120px;}
}
@include screensize(medium) {
    .Promo-cms-sec{padding:35px;padding-top:135px;}
    .display-flex{display:flex;}
}
@include screensize(desktop){
    .Promo-cms-sec{padding: 60px;padding-top: 25px;}
}
@include screensize(x-large){
    .Promo-cms-sec{padding: 100px;padding-top: 200px;}
}