﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div class="col-xs-12 nopadding cart-promocode">
    <div class="head-text">
        <h1 data-test-selector="hdgPromotionsTitle">@WebStore_Resources.LabelPromotions</h1>
    </div>
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <p data-test-selector="paraPromoCodeTitle">@WebStore_Resources.LabelEnterCouponCode</p>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="" id="cart-apply-promocode">
                   
                    <div class="col-xs-12 nopadding input-group">
                        @if (Model.Coupons?.Count > 0)
                        {
                            <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input" size="40" maxlength="100" />
                        }
                        else
                        {
                            <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" class="form-input" size="40" maxlength="100" />
                        }
                        <span class="input-group-btn">
                            <button data-test-selector="btnButtonCouponApply" type="submit" class="btn-text btn-bg-primary">@WebStore_Resources.ButtonApply</button>
                        </span>
                    </div>

                    <div class="col-xs-12 nopadding" id="couponMessageContainer">
                        <div class="col-xs-12 nopadding">
                            @if (Model.Coupons?.Count > 0)
                            {
                                foreach (var item in Model.Coupons)
                                {
                                    <p data-test-selector="paraCouponSuccessMsg" class=@(item.CouponApplied ? "success-msg padding-top" : "error-msg")><a href="#" class="cart-item-remove" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"><i class="zf-close"></i></a> @item.Code - @item.PromotionMessage </p>
                                }

                            }
                        </div>
                    </div>

                </div>
                <span id="RequiredCouponErrorMessage" class="error-msg" data-test-selector="spnCouponErrorMsg"></span>

            </div>
        </div>
    }
    
