﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: serif;content:"\2212";float: right;font-size: 25px;line-height: 15px;font-weight:700;}
.panel-heading .accordion-toggle.collapsed:after {font-family: serif;content:"\2b";font-weight:700;}
.panel-heading .accordion-toggle.collapsed{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.panel{box-shadow:none;}
.panel-default {border-color: transparent;
   .panel-body{padding:10px 0px 0px 0px;}
}
.list-group{margin-bottom:10px;}
.side-bar {
    .narrow-results{display:block;padding:6px 6px;font-size:16px;right:15px;z-index:999;color:$base-color-secondary;border-color:$base-color-secondary;
           &:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;line-height:24px;}
           &.collapsed:after{content:"\f105";}
    }
    .panel-heading{padding:0;border-color:transparent;background-color:transparent;
           h4{text-transform:uppercase; font-family:$base-font-family-montserrat-700; color:$base-color-secondary;border-bottom:1px solid $base-color-secondary;padding:8px 3px;cursor:pointer;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:$base-font-size;}
    }
    .filter-list{padding:0;margin:0;
        label.search{text-transform:uppercase;color:$base-color-primary;}
        li{list-style:none;width:100%;line-height: 20px;
           h4{font-size:16px;font-family:$base-font-family-bold;}
        }
        li.filter-item{padding:0 5px;border-radius:4px;color:$base-color-secondary;cursor:pointer;margin-top:5px;
                &:hover label{text-decoration:line-through !important;color:$base-color-primary;}
                i{font-size:10px;margin:5px;color:$base-color-primary;display:inline-block;vertical-align:top;}
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:18px;cursor:pointer;}
        }
    }

    .clear-filter{cursor:pointer;display:block;text-align:right;margin-top:0px;}
}

//Foot Condition Filter CSS For Shoe Finder Page
.foot-condition{
    .panel-default{border-radius:0px;border-color:$base-color-secondary;
       .foot-condition-collapse{position: absolute;z-index: 9;background-color: rgb(255, 255, 255);width: 11.8%;border: 1px solid rgb(0, 0, 0);margin-left: -1px;}
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body{padding:8px;}
    .panel-heading .accordion-toggle:after {font-family: serif;content:"\2212";float: right;font-size: 25px;line-height: 15px;font-weight:700;}
    .panel-heading .accordion-toggle.collapsed:after {font-family: serif;content:"\2b";font-weight:700;}
    .panel-heading .accordion-toggle.collapsed{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
    .panel-heading{padding:0;border-color:transparent;background-color:transparent;
           h4{text-transform:none;color:$base-color-secondary;font-family:$base-font-family;border-bottom:none;padding:8px 8px;cursor:pointer;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:$base-font-size-small;}
    }
}
.foot-filter{padding: 5px 0px 0px 5px;display: inline-flex;border: 1px solid #dedede;margin-bottom: 15px;
  .foot-filter-padding{padding-left:15px;padding-right:15px;
      i{font-size: 12px;cursor: pointer;color:#dc3545;}
  }
  a{color:$base-color-primary;text-decoration:underline;}
}
.loaddiv{position: fixed;top: -50%;left: -50%;width: 200%;height: 200%;z-index: 999;background-color: rgba(0,0,0,.2);
  .loading {position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
}


//Media Query.
@include screensize(x-small) {
    .side-bar {
        .panel-group {
            font-size: $base-font-size-x-small
        }
    }
    .foot-condition{
    .panel-default{
       .foot-condition-collapse{position: relative;width: auto;}
    }
}
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:15px;
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{padding-right:15px;
        .filter-list li.filter-item label{max-width:88%;}
    }
}
@include screensize(desktop) {
    .side-bar{padding-right:50px;}
}
@include screensize(x-large) {
    .side-bar{padding-right:100px;}
}

