﻿
@model Znode.Engine.Admin.ViewModels.ProductDetailsListViewModel
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Models
@{
    PopupModel publishPopupModel = new PopupModel()
    {
        Title = @Admin_Resources.TitlePublishConfirm,
        Description = string.Format(Admin_Resources.PublishConfirmationMessage, "seo setting"),
        ModalPopUpId = "PublishSeo",
        ModalSizeClass = "model-smd",
        AdditionalNote = string.Format(Admin_Resources.PublishAllLocaleDisclaimerMessage, "seo setting"),
        InputFields = new List<PopupInputField>
{
new PopupInputField() { ControlGroupClientSideId = "radBtnPublishState", InputFieldType = PopupInputFieldTypeEnum.RadioButtonGroup, InputFieldLabel = null, InputFieldData = HelperMethods.GetAvailablePublishStates(), RequiredNumberOfItemsToDisplay = 2 }
},
        Buttons = new List<PopUpButtonModel>() {
    new PopUpButtonModel { ButtonText = @Admin_Resources.TextProceed, ButtonAttributes="data-dismiss=modal", OnClickFunctionName = "SEO.prototype.PublishSeo(this)" }
                                         }
    };

    string linkHeaderText = Model?.GridModel?.WebGridColumn?.Where(x => x.ColumnName == View_ZnodePimAttributeValueEnum.ProductName.ToString()).Select(x => x.Header).FirstOrDefault();
}


<div id="@Model.GridModel.FrontObjectName">
    @using (Ajax.BeginForm("GetProductsForSEO", "SEO", new { PortalId = Model.PortalId, localeId = Model.LocaleId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
    {
        <div id="filterComponent">
            @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
        </div>
    }
    <div class="col-sm-12 list-container">
        @{
            @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
        }
    </div>
</div>

@Html.Hidden("HdnseoId")
@Html.HiddenFor(model => model.SEOTypeId, new { @id = "hdnSEOTypeId" })
@Html.Hidden("hdnPortalId")
@Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml", publishPopupModel)
<script>
    $(".z-edit").each(function () { hrefText = $(this).attr("href"); hrefText = hrefText + "&seotypeid=@Model.SEOTypeId" + "&portalid=@Model.PortalId"; $(this).prop("href", hrefText) })
    $("td").each(function () {
        if ($(this).closest('table').find('th').eq($(this).index()).text().trim() == '@linkHeaderText') {
            hrefText = $(this).find("a").attr("href");
            hrefText = hrefText + "&seotypeid=@Model.SEOTypeId" + "&portalid=@Model.PortalId";
            $(this).find("a").prop("href", hrefText);
        }
    })
    $(document).ready(function () {
        $(".z-publish").off("click").on("click", function () { SEO.prototype.PublishSeoPopup($(this)); });
        });
</script>


