﻿@using Znode.WebStore.Custom.ViewModel
@using System;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@model  DSCustomListViewModel
@{
    var myList = new List<KeyValuePair<string, int>>();
    Layout = null;
    //var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var attributes = Model?.InventoryList?.ToList();
    string strserialize = "";
    string UnAvailableSizeCsv = "";
    string csvstring = "";
    var i = 1;
}


<div class="col-lg-12 col-xs-12 nopadding">
    <div class="col-lg-12 col-xs-12 nopadding gridset-formobile">
        <div class="table-responsive">
            <table class="table table text-center table-grid-PDP" id="Inventorygridtable">
                <tbody>
                    @{
                        //decimal inventory = 0;
                        string classNameInventoryGreen = "";
                        UnAvailableSizeCsv = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL")?.Select(x => x.Size)?.FirstOrDefault();
                        var RemoveItem = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL").FirstOrDefault();
                        if (RemoveItem != null)
                        {
                            Model?.InventoryList?.Remove(RemoveItem);
                        }
                        List<string> DistinctColor = Model?.InventoryList?.Select(x => x.Drewwidth).Distinct().ToList();
                        if (DistinctColor != null)
                        {
                            DistinctColor.Insert(0, DistinctColor[0]);
                            int iteration = 0;
                            foreach (string width in DistinctColor)
                            {
                    <tr>
                        <th class="text-center left_width_data">

                            @if (iteration != 0)
                            {
                                @*<p class="table1"> @width</p>*@
                                <p class="table2">Available</p>
                                <p class="table3">Next</p>
                            }

                        </th>


                        @{
                            var list = Model?.InventoryList?.Where(x => x.Drewwidth == width).ToList();

                            foreach (var item in list)
                            {
                                if (iteration == 0)
                                {

                                    @*<th class="text-center top_size_data"><span>@item.Size</span> </th>*@

                                }
                                else
                                {
                                    classNameInventoryGreen = "";
                                    decimal value = Convert.ToDecimal(Convert.ToString(item.Inventory));
                                    int inventory = Convert.ToInt32(value);
                                    //string date = Convert.ToString(item.BackOrderExpectedDate);


                                    if (inventory > 0)
                                    {
                                        <td class="checkbox_data">
                                            <p class="table1"><input type="text" id="Quantity" data-test-selector="txtQuantity" name="Quantity" data-sku="@item.SKU" data-maxQuantity="@item.Inventory" data-minQuantity="1" data-parentProductId="@item.ParentProductId" class="quantity" data-inventory='@item.Inventory' onchange="OnQuantityChange($(this));" /></p>
                                            <p class="table2">@inventory</p>
                                            <p class="table3">@Convert.ToString(string.Format("{0:dd/MM}", item.BackOrderExpectedDate))</p>
                                        </td>

                                    }
                                                        else
                                                        {
                                        <td class="no_data">
                                            <p class="table1">NA</p>
                                            <p class="table2">- -</p>
                                            <p class="table3">- -</p>
                                        </td>
                                        myList.Add(new KeyValuePair<string, int>(item.SKU + '_' + item.Size + '_' + @width, inventory));
                                        strserialize = JsonConvert.SerializeObject(myList);
                                        csvstring = csvstring + item.Size + "_" + item.Drewwidth + ",";
                                    }
                                            }
                            }

                            @*<td>

                                @if (i == 1)
                                    {
                                        <label style="padding: 10px;">Total</label>
                                        i = 2;
                                    }
                                    else
                                    {
                                        <input type="text" class="totquantity" name='Quantity' value="0" id="Quantity11" disabled>
                                        <div style="margin-top:22px"></div>
                                    }
                            </td>*@
                            
                        }
                    </tr>
                                iteration++;
                            }
                        }
                    }

                    @*<tr><td colspan="17"></td><td align="left"><span id="total" class="total">TOTAL</span> </td></tr>*@
                    </tbody>
            </table>
            @*<div>
                    <label style="padding: 10px;">Total</label>
                    <input type="text" class="total" name='Quantity' value="0" id="txttotal" disabled>
                </div>*@
            <div id="strserialize" hidden>@strserialize</div>
            <input type="hidden" id="hdnUnAvailableSize" value="@UnAvailableSizeCsv" />
            <input type="hidden" id="csvstring" value="@csvstring" />
        </div>
    </div>
</div>

<script>
    function OnQuantityChange() {
        var qnt = 0;
        $('#Inventorygridtable input').each(function () {

            if (parseInt($(this).val()) > parseInt($(this).attr("data-maxquantity"))) {
                //alert("Quantity Should not exceed the inventory level.");
                //$('#quantity-error-msg').text("Quantity Should not exceed the inventory level.");
                //this.value = parseInt($(this).attr("data-maxquantity"));
                this.value = "";
            }
            else {
                var tbl = $('#Inventorygridtable');
                tbl.find('tr').each(function () {
                    var sum = 0;
                    $(this).find('input[type=text]').not('.totquantity').each(function () {
                        if (!isNaN(this.value) && this.value.length != 0) {
                            var val = $('#inventoryprice').val();
                            sum += (this.value) * parseFloat(val);
                        }
                    });
                    $(this).find('.totquantity').val("$" + sum.toFixed(2));
                });
            }
        });
        //var grandtotal = $('#Inventorygridtable tr td .totquantity').val();
        //qnt += grandtotal;
        //alert(qnt);
        //$('#Inventorygridtable tr td .total').text(qnt);
    }
</script>