﻿@using Znode.Engine.WebStore.Agents;
@using Znode.Engine.WebStore.Controllers;

@{
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<div class="footer-contact">
    <div class="header-footer hidden" data-test-selector="divFooterContact">
        <h3 class="footer-header" data-test-selector="lblFooterContactSupport">@WebStore_Resources.TextCustomerSupport</h3>
    </div>
    @{
        string customerServiceEmailValue = customerServiceEmail;
        if (!string.IsNullOrEmpty(customerServiceEmailValue))
        {
            char[] seperator = new char[] { ',' };
            string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
            foreach (string email in customerServiceEmails)
            {
                <div><a href="@(" mailto:" + email)" data-test-selector="linkMailTo" title="@email">@email</a></div>
            }
        }
    }
    <a href="tel:@customerServicePhoneNumber" data-test-selector="lblCustomerPhone" title="@customerServicePhoneNumber">@customerServicePhoneNumber</a>
    @*<p data-test-selector="lblCustomerPhone">@customerServicePhoneNumber</p>*@
    <div class="hidden">
        <a href="~/blog" data-test-selector="linkBlog" title="@WebStore_Resources.LabelBlog">@WebStore_Resources.LabelBlog</a>
    </div>
    <div class="hidden">
        <a href="~/news" data-test-selector="linkNews"  title="@WebStore_Resources.LabelNews">@WebStore_Resources.LabelNews</a>
    </div>
</div>
