﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    bool havewidth = false;
    bool havesize = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "drewcolor")
        {
            att.DisplayOrder = 1;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "drewsize")
        {
            att.DisplayOrder = 2;
            havesize = true;
        }
        if (att.AttributeCode == "drewwidth")
        {
            att.DisplayOrder = 3;
            havewidth = true;
        }
    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();
}


@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
	 if (att.IsSwatch=="false") { att.IsSwatch = null; }
        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-xs-12 nopadding margin-top margin-bottom setlinghtheight">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName : <span id="colorname" class="text-black">@att.SelectedAttributeValue[0]</span></p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch @att.AttributeName-swatched">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input scratch-attribute-img stimg">
                                        <div>
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" data-colorcode="@image.SelectValues.FirstOrDefault().Code" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label title="@image.AttributeValue" for="@att.AttributeCode-@image.AttributeValue" class="scratch-image stimg1 @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" style="border: none!important;">
                                                <img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" /><span class="hidden">Swatch Image</span>
                                                <span id="colorname" class="text-black" title="@image.AttributeValue">@image.AttributeValue</span>
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName</p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="size-swatch color-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" title="@image.AttributeValue" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"> <i class="zf-swatch-box" style="color:@image.SwatchText !important;" title="@image.AttributeValue"></i> </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            default:
                <div class="col-xs-12 nopadding margin-top setlinghtheight">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <p class="PDPlable">@att.AttributeName : <span id="colorname" class="text-black">@att.SelectedAttributeValue[0]</span></p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="size-swatch  @att.AttributeName-swatched">
                                @if (att.AttributeName == "drewsize")
                                {
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        <li class="styled-input">
                                            <input type="radio" class="ConfigurableAttribute" title="@image.AttributeValue" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span>@image.AttributeValue</span></label>
                                        </li>
                                    }
                                }
                                else
                                {
                                    foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                    {
                                        <li class="styled-input">
                                            <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="OnColorSizeWidth($(this));" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                            <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")" title="@image.AttributeValue"><span>@image.AttributeValue</span></label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
        }
    }
}

<div class="col-xs-12 nopadding" id="dynamic-product-variations">

</div>

@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}

<script async>
    /*Size and width scratch on document ready start*/
    function OnColorSizeWidth(t) { Product.prototype.OnAttributeSelect(t), Product.prototype.ShowLoader(); var e = $(t).attr("code"); "drewcolor" == e && Product.prototype.NiviInventoryGrid(), setTimeout(function () { var t, e = 0, i = $("#hdnUnAvailableSize").val().split(","); $.each(i, function (a) { t = i[a], $(".Size-swatched li input").each(function () { e = $(this).val(), t == e && ($('label[for="' + $(this).attr("id") + '"]').addClass("scratchattribute disabled"), $('label[for="' + $(this).attr("id") + '"]').css("pointer-events", "none")) }) }) }, 1e3), "drewsize" != e && "drewwidth" != e || setTimeout(function () { var t = $("#csvstring").val().split(","), e = "", i = 0, a = $("input[name='drewsize']:checked").val(); $.each(t, function (n) { e = t[n], $("input[name=drewwidth]").each(function () { var t = $(this).val(); for (n = 0; n < t.length; n++)i = $(this).val(); e == a + "_" + i && ($('label[for="' + $(this).attr("id") + '"]').addClass("scratchattribute disabled"), $('label[for="' + $(this).attr("id") + '"]').css("pointer-events", "none")) }) }) }, 1e3) } $(document).ready(function () { Product.prototype.NiviInventoryGrid(), setTimeout(function () { var t, e = 0, i = $("#hdnUnAvailableSize").val().split(","); $.each(i, function (a) { t = i[a], $(".Size-swatched li input").each(function () { e = $(this).val(), t == e && ($('label[for="' + $(this).attr("id") + '"]').addClass("scratchattribute disabled"), $('label[for="' + $(this).attr("id") + '"]').css("pointer-events", "none")) }) }); i = $("#csvstring").val().split(","); var a = "", n = 0, r = $("input[name='drewsize']:checked").val(); $.each(i, function (t) { a = i[t], $("input[name=drewwidth]").each(function () { var e = $(this).val(); for (t = 0; t < e.length; t++)n = $(this).val(); a == r + "_" + n && ($('label[for="' + $(this).attr("id") + '"]').addClass("scratchattribute disabled"), $('label[for="' + $(this).attr("id") + '"]').css("pointer-events", "none")) }) }) }, 3e3) })
</script>

