﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BlogNewsCommentViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding">
    <div class="col-xs-12 nopadding padding-top">
        @if (Model?.Count > 0)
        {
            <div class="col-xs-12 nopadding title">
                <h3>@WebStore_Resources.LabelComments</h3>
            </div>
        }
        @foreach (var blogNewsComment in Model)
        {
            <div class="col-xs-12 nopadding comment-list">
                <div class="comments">
                    <div class="col-xs-12 nopadding padding-bottom comment-text">
                        <strong>@blogNewsComment.UserName</strong>
                        <p>@blogNewsComment.BlogNewsComment</p>
                        <p>Created on: @blogNewsComment.CreatedDate.ToDateTimeFormat()</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
