﻿@using Znode.Engine.Admin.ViewModels;
@using Znode.Engine.Admin.Models
@model PriceListViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    string accountName = string.IsNullOrEmpty(Model?.AccountName) ? @Admin_Resources.LabelAccount : Model?.AccountName;
}
<div id="@Model.GridModel.FrontObjectName" tabchild="true">
    <div id="DivGetUnAssociatedPriceListForAccount" class="aside-popup-panel modal-dialog modal-lg"></div>
    <div id="priceListPrecedence" class="modal fade" role="dialog">
        @*edit price list data will display in this div*@
    </div>
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.TitleAccount)<i class="z-minus"></i><span>@Model.AccountName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "list", "Account", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            <div class="pull-right padding-left">
                @Html.AuthorizedPrototypeRawActionLink(@Admin_Resources.TitleAssociatePrice, "GetUnAssociatedPriceListForAccount", "Account", new { @id = "GetUnAssociatedPriceListForAccount", @class = "btn-text btn-text-secondary", @value = "Create XML", onclick = "ZnodeBase.prototype.BrowseAsidePoupPanel('/Account/GetUnAssociatedPriceListForAccount?accountId=" + @Model.AccountId + "','DivGetUnAssociatedPriceListForAccount')", @data_test_selector = "linkAssociatePrice" })
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        @Html.Partial("~/views/Account/_asideaccountmanagepanel.cshtml")
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm(actionName, controllerName, new { accountId = Model.AccountId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml",
                           Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "PriceListDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Account.prototype.UnAssociatePriceList(this)"}
                         }
                    })
            @Html.HiddenFor(m => m.AccountId)
        </section>
    </div>
</div>

<script>
    $(document).ready(function () { EditableGridEvent.Init(); })
    $(".input-text").change(function () {
        validateForm = Account.prototype.ValidatePrecedanceField(this);
    });
</script>
