﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model AccountListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string accountName = string.IsNullOrEmpty(Model?.AccountName) ? @Admin_Resources.LabelAccount : Model?.AccountName;
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.TitleAccount)<i class="z-minus"></i><span>@Model.AccountName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "Account", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
                                           <div class="pull-right padding-left">
                                               @Html.AuthorizedPrototypeRawActionLink(Admin_Resources.ButtonAdd, "CreateSubAccount", "Account", new { @class = "btn-text btn-text-secondary", onclick = "ZnodeBase.prototype.BrowseAsidePoupPanel('/Account/CreateSubAccount?parentAccountId=" + Model.AccountId + "','divAddSubAccountPanel')", @data_test_selector = "linkAddNew" })
                                           </div>
        </div>
    </div>
    <div class="main-wrapper" id="subAccountListId">
        <!--Left Panel-->
        @Html.Partial("~/views/Account/_asideaccountmanagepanel.cshtml")
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm(actionName, controllerName, new { parentAccountId = Model.AccountId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "DeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                         new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Account.prototype.DeleteMultipleAccount(this)" },
                        }
                    })
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
        @Html.HiddenFor(x => x.AccountId)
    </div>
</div>
<div id="divAddSubAccountPanel" class="aside-popup-panel modal-dialog modal-lg"></div>
<script>
    Account.prototype.EditChildAccount();
</script>