﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  ProductPriceViewModel

@if (Model.PriceView)
{
    if (Model.ProductType.ToLower() == "groupedproduct")
    {
        if (!Equals(Model.SalesPrice, null))
        {
            <span class="dynamic-product-price_@Model.sku pull-right original-price text-right @Model.ObsoleteClass">@Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)</span>
            if (Model.SalesPrice != Model.RetailPrice)
            {
                <span class="cut-price pull-right text-right">
                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                </span>
            }
        }
        else
        {
            <span class="dynamic-product-price_@Model.sku pull-right original-price text-right @Model.ObsoleteClass">@Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)</span>
        }
    }
    else
    {
        if (!Equals(Model.SalesPrice, null))
        {
            <h3 class="dynamic-product-price @Model.ObsoleteClass">
                @if (HelperUtility.IsNotNull(Model.PromotionalPrice) && Model.PromotionalPrice > 0)
                {
                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                }
                else
                {
                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                }
            </h3>
            if (Model.SalesPrice != @Model.RetailPrice)
            {
                <span class="cut-price">
                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                </span>
            }
        }
        else
        {
            if (HelperUtility.IsNotNull(Model.PromotionalPrice) && Model.PromotionalPrice > 0)
            {
                <h3 data-test-selector="lblPriceCut" class="dynamic-product-price @Model.ObsoleteClass">@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)</h3>
                if (Model.PromotionalPrice != Model.RetailPrice)
                {
                    <span data-test-selector="spanCutPrice" class="cut-price">
                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                    </span>
                }
            }
            else
            {
                <h3 data-test-selector="lblPrice" class="dynamic-product-price @Model.ObsoleteClass">@Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)</h3>
            }
        }
    }
}
else
{
    if (!Equals(Model.Quantity, null) && Model.Quantity > 0)
    {
        <span class="product-count ml-2">(@Model.Quantity)</span>
    }
}


