﻿@using Znode.Engine.WebStore.ViewModels

@model List<StoreLocatorViewModel>

<div id="layout-content">
    <div class="col-xs-12 margin-top-bottom nopadding table-responsive store-locator-view" id="table-store-list">
            @foreach (StoreLocatorViewModel store in Model)
            {
                string DisplayAddress = (string.IsNullOrEmpty(store.Address1) ? "" : $"{store.Address1},") + $"{store.Address2}," + (string.IsNullOrEmpty(store.Address3) ? "" : $",{store.Address3} ,");
                string DisplayAddress1 = $" {store.CityName}, {store.StateName}";
                <div data-distance="0" data-lng="@store.Longitude" data-lat="@store.Latitude" data-title="@store.StoreName" data-address="@DisplayAddress" class="storeLocationCoordinate">
                    <p class="recent-order-title"><b class="recent-order-product">@WebUtility.HtmlDecode(store.StoreName)</b></p>
                    <p class="recent-order-date">@DisplayAddress</p>
                    <p class="recent-order-date">@DisplayAddress1, @store.PostalCode</p>
                    <p class="recent-order-total">@store.PhoneNumber</p>
                    <p class="recent-order-reorder"><a href="#" onclick="showDirectionToStore(this)" title="@WebStore_Resources.TitleMapLink">@WebStore_Resources.TitleMapLink</a></p>
                </div>
            }
        
    </div>
</div>