﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<!--Top Header CMS-->
<div class="header-local-container">
    <div class="Top-Head-Msg">
        @Html.RenderMessage("RosHommersonPromoText1")
    </div>
</div>
<div class="container-fluid">
    <!--Home Page Slider Widget-->
    <z-widget>@Html.WidgetPartialAjax("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>

<!--Promotion Banner CMS 1-->
<div class="container">
    <div class="row" data-test-selector="divAdvertisementBanner">
        <div class="col-xs-12 col-lg-12 col-md-12 flex-column-reverse display-flex">
            <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img">
                @Html.RenderMessage("RosHommersonPromoBannerOneImg")
            </div>
            <div class="col-xs-12 col-lg-6 col-md-6 nopadding Promo-img Promo-cms-sec BackColor1">
                @Html.RenderMessage("RosHommersonPromoBannerTwoText")
            </div>
        </div>
    </div>
</div>


<!--NewArrival Widget Women-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div data-test-selector="divNewArrivalWidget" class="margin-top-bottom-40-home">
                <z-widget>
                    @Html.WidgetPartialAjax("ProductList", "NewArrival", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                </z-widget>
            </div>
        </div>
    </div>
</div>

<!--NewArrival Widget Mens-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div data-test-selector="divBestSellProductList" class="margin-top-bottom-40-home">
                <z-widget>
                    @Html.WidgetPartialAjax("ProductList", "HomePageSpecial", "667", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                </z-widget>
            </div>
        </div>
    </div>
</div>

<!--Widget Advertisement Banner-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div data-test-selector="divAdvertisementBanner" class="margin-top-bottom-40-home offer-banner-set">
                <z-widget>
                    @Html.WidgetPartialAjax("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                </z-widget>
            </div>
        </div>
    </div>
</div>

<!--BestSelling Widget Category-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div data-test-selector="divBestSellCategoryList" class="margin-top-bottom-40-home">
                <z-widget>
                    @Html.WidgetPartialAjax("CategoryList", "CategoryList", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                </z-widget>
            </div>
        </div>
    </div>
</div>

<!--Testimonial Widget-->
<div id="testinomial" class="margin-top">
    <z-widget>@Html.WidgetPartial("TextEditor", "Testimonial", "5580", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>


<!--Code For Image load and then click video-->
<script>
    $('.clickimage').click(function () {
        video = '<iframe src="' + $(this).attr('data-video') + '" frameborder="0" class="YouTubeFrame" alt="Video" title="Video" allow="autoplay"></iframe>';
        $(this).replaceWith(video);
    });
</script>
