﻿@import "_base.scss";
.blog-news{padding:0;margin:0;list-style:none;
  img{width:100%;padding:15px;}
  h2{font-size: 24px;}
}
.blog-news-title{padding:10px 0;float: left;width: 100%;
        h1{margin-bottom: 5px;margin-top: 20px;font-size: 27px;color:$base-color-primary;}
    }
.blog-news li{width: 100%;border: 1px solid #e1e1e1;margin-bottom: 15px;border-radius: 3px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding:10px;}
#blog-image-bg{position: relative;height: 70vh; width: 100%;margin: 0 auto;vertical-align: top;background-size: cover;background-position: center center;-webkit-transform-origin: center top; -ms-transform-origin: center top;transform-origin: center top;}
.blog-news-details{min-height: 50%;width: 60%;background: #fff;padding: 1rem 2rem;margin: -20rem auto 15px auto;border-radius: 3px;-webkit-transform: translateZ(0); transform: translateZ(0);
    
    img{padding:5px 0;margin:auto;max-height:500px;}
    .back-btn{
        button{margin:0px;}
    }
    .blog-news-text{padding: 10px 0;
        p{text-align: justify;}
    }
    form{float:left;width:100%;
         textarea{padding:5px;}
         button{margin-left:0;}
    }
    .comments-display-section{float:left;width:100%;border-bottom: 1px solid #ddd;margin-bottom:10px;
        .comment-list{padding:10px 0 0;border-bottom:1px solid #ddd;
            &:last-child{border-bottom:none;}
            .blog-comment{
                 .comment-info{line-height:30px;}
                 .comment-date-time{padding:5px 10px;background-color:lighten( $border-bgcolor-default, 18% );}
                 .comment-text{padding:10px;
                        p{text-align: justify;}
                   }
            }
        }
    }
}
.blog-news-image{max-height:500px;}
.blog-news-date-time{padding-left: 15px;padding-top: 10px;color: $base-color-white;background-color: $base-color-primary;padding-right:15px;
                     a{color: $base-color-white;}
}

@include screensize(x-small) {
    .blog-news-details {
        width: 100%;
    }

    .blog-news {
        padding-left: 15px;
        padding-right: 15px;

        li {
            img {
                padding: 5px;
                margin: auto;
            }
        }
    }
}

@include screensize(small){
    .blog-news{
        li{
           img{margin:0;padding-left:0;}
        }
    }
}